@tailwind base;
@tailwind components;
@tailwind utilities;

path[d="M12 7C13.6569 7 15 5.65685 15 4C15 2.34315 13.6569 1 12 1C10.3431 1 9 2.34315 9 4C9 5.65685 10.3431 7 12 7Z"] {
  fill: blue;
}

.ant-progress-text{
  color: white !important;
}
/* styles.css */
canvas[role="img"] {
  height: 300px !important;
  width: 100% !important;
  /* background-color: red; */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: #ccc transparent; /* Thumb color and track color */
}

/* For WebKit-based browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Set the thumb color */
  border-radius: 10px; /* Add rounded corners to the thumb */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Change thumb color on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Set track background to transparent */
}

